
.graph {
  color: $brand-secondary;
}

body {
  font: 300 14px 'Helvetica Neue', Helvetica;
}

.node {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 0.7px;
}

#canvas {
  width : 650px;
  height : inherit;
  fill : #e9eceb;
}

.Exit {
  fill:#c7ffef;
}

.Entry {
  fill:#c7ffef;
}







