// Import overridden Bootstrap variables BEFORE their 
// definition in the vendor files
@import 'library/variables';
@import 'library/mixins';

// Add core Bootstrap styles. Comment and uncomment 
// functionality inside framework code as required to keep 
// 'main.css' as small as possible.
// @import 'font-awesome';

// Styles shared between custom components

// Skins may exist in several locations throughout the 
// application.  They may override existing framework styles
// directives or represent styles for custom application 
// modules
// @import 'skins/manifest.gen';

// MIXINS ––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin box-sizing($type){
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// Sections code includes page-specific and layout-related 
// styles

// VARIABLES –––––––––––––––––––––––––––––––––––––––––––––––
$text-color: white;
$top-bar-height: 40px;
$node-background: #272727;
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––


body {
  font-family: 'Muli', sans-serif; 
  color: $text-color;
  margin: 0px; 
  padding: 0px;
  position: relative;
  background-color: black;
  background-image: url(../images/stars.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;

}

div.top{
  @include box-sizing(border-box);
  position: fixed;
  margin: 0px;
  padding: 10px 0px 0px 10px;
  height: $top-bar-height;
  width: 100vw;
  background-color: black;
  border-bottom: 2px solid #ffa500;
  z-index: 2;

  h1{
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 24px;
    color: $text-color;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 100%;
    text-transform: uppercase;
  }

}

// Clearfix used in edit forms –––––––––––––––––––––––––––––
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix{
  display: inline-block;
}
// –––––––––––––––––––––––––––––––––––––––––––––––––––-–––––
 
.ng-scope:before {
  opacity: 0.7;
}

div.wrapper {
  @include box-sizing(border-box);
  height: 100vh;
  padding: 15px;
  padding-top: $top-bar-height+15;
  width: 100vw;
  z-index: 1;

  
  div.queue {
    @include box-sizing(border-box);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #979797;
    height: 10%;
    width: 100%;

    svg.queue{
      height: 100%;
      padding-right: 10px;
      width: 100%;
    }
  }


  div.graphpanel{
    @include box-sizing(border-box);
    color: $brand-secondary;
    float: left;
    height: 90%;
    padding-right: 15px;
    width: 50%;
    border: 1px solid #979797;

    div.graph {
      height: 100%;
      width: 100%;
    
      svg#canvas {
        width: 100%;
        height: 100%;
        // min-height: 100%;
        fill: #e9eceb;
        opacity: 1;
        display: block;
        margin: auto;
      }
    }   
  }

  text {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    stroke: $text-color; //#534741;
    stroke-width: 0; //0.8px;
    fill: $text-color;
  }

  div.information { // migrate these styles to div.info-panel
    @include box-sizing(border-box);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #979797;
    color: $text-color;
    float:right;
    font-size: 30px;
    height: 90%;
    padding: 15px;    
    width: 50%;

    div.info-panel{
      h2, h3, h4{
        font-family: 'Muli', sans-serif;
        font-weight: 300;
        margin: 0;
      }
      
      h3{
        font-size: 20pt;
      }

      h4{
        font-size: 16pt;
        font-style: italic;
      }

      p{
        font-size: 12pt;
        font-weight: normal;
      }
    }
  }

  div.form {
    @include box-sizing(border-box);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #979797;
    color: $text-color;
    float:right;
    font-size: 30px;
    padding: 15px;    
    height: 90%;
    width: 50%;

    fieldset, label, input, option, textarea{
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      // font-style: italic;
    }
    fieldset{
      font-size: 16pt;
    }

    input, textarea, select{
      float: right;
      background-color: #ddd;
    }

    label{
      display: inline-block;
      font-size: 14pt;
      position: relative;
      margin: 0.5em;
      margin-left: 0;
      padding-left: 0;
      width: 100%;
    
      span{
        display: block;
        float: left;
      }

      input[type=text]{
        font-style: italic;
        font-size: 12pt;
        color: black;
        margin: 0;
        width: 70%
      }
      select{
        display: block;
        width: 71%;
        // border-width: 2px;
      }
      option{
        background-color: #ddd;
        color: #aaa;
        font-style: italic;
        font-size: 12pt;
      }
      textarea{
        color: black;
        font-size: 12pt;
        height: 4em;
        width: 70%;
        margin: 0;
      }
    }
  }

  input[type=submit]{
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    // width: 20%;
    padding: 10px;
    margin: 2px;
  }
  input[value=save]{
    font-weight: bold;
    color: $text-color;
    // background-color: black;
  }
  input[value=cancel]{

  }
}

.nodes {
  width: 600px;
  stroke: #333;
}

.path, .path:hover, .edgePath:hover{
  stroke-linecap: "round";
}

.path {
  stroke: $text-color;
  stroke-width: 4px;
}

$hover-yellow: #ffe100;

.path:hover {
  stroke: $hover-yellow;
  fill: $hover-yellow;
  stroke-width: 5px;
  cursor: pointer;
}

.edgePath:hover {
  stroke: $hover-yellow;
  fill: $hover-yellow;
  stroke-width: 1px;
  cursor: pointer;
}

.output {
  width: inherit;
}

#zoomGraph {
  width: inherit;
}
.exit {
  fill: $node-background;
  opacity: 1;
  stroke: #FF8B4D;
  stroke-opacity: 1;
  stroke-width: 7px;
}

.exit:hover {
  opacity: 1;
  stroke: #d1b6f1;
  stroke-width: 12px;
  stroke-opacity: 1;
  cursor:pointer;
}

.enter {
  opacity: 1;
  fill: $node-background;
  stroke-opacity: 1;
  stroke: #FF8B4D;
  stroke-width: 7px;
}

.enter:hover {
  opacity: 1;
  stroke: #d1b6f1;
  stroke-width: 12px;
  stroke-opacity: 1;
  cursor:pointer;
}

.cluster {
  opacity: 1;
  stroke: #1E89BD;
  fill: $node-background;
  stroke-width: 7px;
  stroke-opacity: 1;
  stroke-linecap: "round";
}

.cluster.pick {
  opacity: 1;
  stroke: #ffff00;
  stroke-width: 12px;
  stroke-opacity: 1;
  cursor: pointer;
}

.node.cluster:hover {
  opacity: 1;
  stroke: #ee4035;
  stroke-width: 12px;
  stroke-opacity: 1;
  cursor: pointer;
}

.issue {
  opacity: 1;
  fill: $node-background;
  stroke: #66cdaa;
  stroke-width: 7px;
  stroke-opacity: 1;
}

.issue:hover {
  opacity: 1;
  stroke: #fff68f;
  stroke-width: 12px;
  stroke-opacity: 1;
  cursor: pointer;
}
text:hover {
  stroke-width: 1px;
  stroke: #534741;
}

.label{
  align: center;
}

div.name {
  width: 100%;
}
div.description {
  width: 100%;
}

.context-menu {
  position: absolute;
  display: none;
  background-color: #708090;
  border-radius: 4px;
  font-family: 'open sans', sans-serif; 
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index:1200;
}

.context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: pointer;
}

.context-menu ul li {
  padding: 4px 16px;
}

.context-menu ul li:hover {
  background-color: #66ccff;
  color: #fefefe;
}

#wrapper {
    width:450px;
    margin:0 auto;
    font-family:Verdana, sans-serif;
}



.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
