// Import overridden Bootstrap variables BEFORE their 
// definition in the vendor files
@import 'library/variables';
@import 'library/mixins';

// Add core Bootstrap styles. Comment and uncomment 
// functionality inside framework code as required to keep 
// 'main.css' as small as possible.
// @import 'font-awesome';

// Styles shared between custom components
// @import 'snippets/**';

// Skins may exist in several locations throughout the 
// application.  They may override existing framework styles
// directives or represent styles for custom application 
// modules
// @import 'skins/manifest.gen';

// MIXINS ––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin box-sizing($type){
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// Sections code includes page-specific and layout-related 
// styles

// VARIABLES –––––––––––––––––––––––––––––––––––––––––––––––
$text-color: white;
$top-bar-height: 40px;
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––


body {
  font-family: 'Muli', sans-serif; 
  color: $text-color;
  margin: 0px; 
  padding: 0px;
  position: relative;
  background-color: black;
  background-image: url(../images/stars.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;

}

div.top{
  @include box-sizing(border-box);
  position: fixed;
  margin: 0px;
  padding: 10px 0px 0px 10px;
  height: $top-bar-height;
  width: 100vw;
  background-color: black;
  border-bottom: 2px solid #ffa500;
  z-index: 2;

  h1{
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 24px;
    color: $text-color;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 100%;
    text-transform: uppercase;
  }

}

.ng-scope:before {
  opacity: 0.7;
}

div.wrapper {
  @include box-sizing(border-box);
  height: 100vh;
  padding: 15px;
  padding-top: $top-bar-height+15;
  width: 100vw;
  z-index: 1;

  div.information { // migrate these styles to div.info-panel
    @include box-sizing(border-box);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #979797;
    color: $text-color;
    float:right;
    font-size: 30px;
    height: 100%;
    padding: 15px;    
    width: 50%;
  
    div.info-panel{
      h2, h3, h4{
        font-family: 'Muli', sans-serif;
        font-weight: 300;
        margin: 0;
      }
      
      h3{
        font-size: 20pt;
      }
      h4{
        font-size: 16pt;
        font-style: italic;
      }
      p{
        font-size: 12pt;
        font-weight: normal;
      }
    }
  }

  div.graph {
    @include box-sizing(border-box);
    border: 1px solid red;
    color: $brand-secondary;
    float: left;
    height: 100%;
    padding-right: 15px;
    width: 50%;
  
    svg#canvas {
      width: 100%;
      height: 900px;
      // min-height: 100%;
      fill: #e9eceb;
      opacity: 1;
      display: block;
      margin: auto;
    }
  }
}

.nodes {
  width: 600px;
  stroke: #333;
}

.path {
  stroke: $text-color;
  stroke-width: 4px;
  stroke-linecap: "butt";
}

.path:hover {
  stroke: red;
  fill: red;
  stroke-width: 8px;
  stroke-linecap: "butt"; 
  cursor: pointer;
}

.edgePath:hover {
  stroke: red;
  fill: red;
  stroke-width: 2px;
  cursor: pointer;
  stroke-linecap: "butt"; 
}

.output {
  width: inherit;
}

#zoomGraph {
  width: inherit;
}
.exit {
  fill: $text-color;
  opacity: 1;
  stroke: #cc0000;
  stroke-opacity: 0.6;
  stroke-width: 7px;
}

.exit:hover {
  opacity: 1;
  stroke: #d1b6f1;
  stroke-width: 12px;
  stroke-opacity: 0.7;
  cursor:pointer;
}

.enter {
  opacity: 1;
  fill: $text-color;
  stroke-opacity: 0.6;
  stroke: #cc0000;
  stroke-width: 7px;
}

.enter:hover {
  opacity: 1;
  stroke: #d1b6f1;
  stroke-width: 12px;
  stroke-opacity: 0.7;
  cursor:pointer;
}

.cluster {
  opacity: 1;
  stroke: #154de5;
  fill: $text-color;
  stroke-width: 7px;
  stroke-opacity: 0.7;
  stroke-linecap: "round";
}

.node.cluster:hover {
  opacity: 1;
  stroke: #ffa500;
  stroke-width: 12px;
  stroke-opacity: 0.7;
  cursor: pointer;
}

.issue {
  opacity: 1;
  fill: $text-color;
  stroke: #66cdaa;
  stroke-width: 7px;
  stroke-opacity: 0.7;
}

.issue:hover {
  opacity: 1;
  fill: $text-color;
  stroke: #fff68f;
  stroke-width: 12px;
  stroke-opacity: 0.7;
  cursor: pointer;
}
text:hover {
  stroke-width: 1px;
  stroke: #534741;
}

.label{
  align: center;
}

text {
  font-family: 'Ubuntu Mono', monospace;
  stroke: #534741;
  stroke-width: 0.8px;
  fill: #534741;
  align: center;
}

div.name {
  width: 100%;
}
div.description {
  width: 100%;
}

.context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: 'open sans', sans-serif; 
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index:1200;
}

.context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.context-menu ul li {
  padding: 4px 16px;
}

.context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}

